<%- include('partials/header') %>

<h1> votre Deck</h1>

<div class="card">
    <% if (locals?.decklist) { %>
    <div class="cardsContainer">
       
        <% listFav.forEach( (card) => { %>
      
          <div class="card">
            <a href="/<%= card.name %>">
              <img src="/visuals/<%= card.visual_name %>" alt="<%= card.name %> illustration">
              <p class="cardName"><%= card.name %></p>
            </a>
            <a class="link--addCard" title="Ajouter au deck" href="/deck/remove/<%= card.id %>">[ - ]</a>

          </div>
      
        <% }) %>
      </div>
   <% } else { %>
        <a>Votre deck est vide </a>
    <% } %>

</div>

<%- include('partials/footer') %>